.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    position: relative;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
  }
  .grid-item:hover .overlay {
    background-color: grey;
    opacity: 0.5;
    display: block;
  }

  .highlight {
      display: block;
      background-color: grey;
      opacity: 0.5;
  }